<div class="banner" style="background-image: url(http://www.fesic.org/wp-content/uploads/2018/04/campusBDX.jpg);">
	<div class="banner-content">
		<h1>Maguedane</h1>
		<p>Hi ! Let's see if I can find out what you are thinking of.</p>
		<a class="btn btn-primary btn-lg"> Start now</a>
	</div>
</div>